@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column !important;
  }

  .sidebar {
    width: 100% !important;
  }

  .main {
    padding: 10px !important;
  }

  textarea {
    width: 100% !important;
  }

  input, select, button {
    width: 100% !important;
    margin-top: 5px;
  }
}
